@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-sans antialiased;
  }
}

@layer utilities {
  .scroll-margin-header {
    scroll-margin-top: 120px;
  }
}